<ion-modal-view style="margin-top: 1px;">

  <ion-content style="top: 4%;">

    <div class="displayElement">
    <span class="ion-close button-right" style="background-color: white; color: #40a1d2;"
          ng-click="closeModal()"></span>
    </div>

    <div class="statusDiv">
      <textarea ng-model="message.text" cols="40" rows="8" placeholder=" What's happening" class="statusText"
                ng-class="{statusTextHeight90: message.files.length == 0, statusTextHeight50: message.files.length > 0}"
                id="statusText"></textarea>

      <div class="imagesSlide">
        <span class="slide" ng-repeat="file in message.files">
          <img ng-src="{{file.url}}" height="100%"/>
          <span class="ion-close imageDelete" ng-click="deleteFile($index)"></span>
        </span>
      </div>
    </div>


    <div class="newStatusBottom">

      <div class="newStatusBottomLeft">
        <i class="icon ion-images" ng-click="imageClick()"></i>
        <i class="icon ion-camera" ng-click="takePhoto()"></i>
      </div>

      <div class="newStatusBottomRight">
        <!--<button ng-if="editWindow && checkMessage(message)" class="rightAlign"
                ng-click="updateStatus(message.text)">
          UPDATE
        </button>-->
        <button ng-if="!editWindow && checkMessage(message)" class="rightAlign" ng-click="saveStatus(message)">
          POST
        </button>
      </div>

    </div>

  </ion-content>

</ion-modal-view>
