<ion-modal-view style="margin-top: 15px;">

  <!--<ion-header-bar>
    <h1 class="title">My Modal title</h1>
  </ion-header-bar>-->

  <ion-header-bar class="headerCss displayElement">
    <span class="ion-close closeModal" style="color: white; background-color: #40a1d2;bottom: 10px;
    position: absolute;" ng-click="closeModal()"></span>
    <span ng-if="editWindow" class="title">Update Status</span>
    <span ng-if="!editWindow" class="title">New Status</span>
    <button ng-if="editWindow && checkMessage(message.text)" class="rightAlign" ng-click="updateStatus(message.text)">
      UPDATE
    </button>
    <button ng-if="!editWindow && checkMessage(message.text)" class="rightAlign" ng-click="saveStatus(message)">
      POST
    </button>
  </ion-header-bar>

  <ion-content style="top: 58px;">
    <!--<div class="viewProfileDiv" type="item-text-wrap">
      <span>Location: </span><span style="font-weight: bold;">{{user.location}}</span>
    </div>

    <div class="viewProfileDiv">
      <span style="">Media: </span>
      <input type="file" ng-file-model="message.files" accept="image/*" multiple />
    </div>-->

    <div class="statusDiv">
      <textarea ng-model="message.text" cols="40" rows="10" placeholder=" Enter Status" class="statusText"
                id="statusText"></textarea>
    </div>

    <div>
      <p ng-repeat="file in message.files">
        <img ng-src="{{file.url}}" width="150px" height="150px"/>
      </p>
    </div>



    <div style="position:fixed;bottom:0px; background-color: red; width: 100%">
      This is bottom
      <button ng-click="imageClick()">
        image
      </button>
      <button ng-click="takePhoto()">
        camera
      </button>
    </div>

  </ion-content>

</ion-modal-view>
