<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view cache-view="false" view-title="">

  <!--<ion-nav-bar>
  </ion-nav-bar>

  <ion-nav-buttons side="left">
    <span ng-click="goHome()" style="font-size: 18px;margin-top: 13%;">
      <i class="ion-chevron-left"></i> Chats
    </span>
  </ion-nav-buttons>-->


  <ion-content class="padding">

    <div ng-show="loading" class="cssload-loader">
      <div class="cssload-inner cssload-one"></div>
      <div class="cssload-inner cssload-two"></div>
      <div class="cssload-inner cssload-three"></div>
    </div>

    <div ng-show="!loading" class="article">

      <!--<div class="articleUserName">
        {{article.userName}}
      </div>-->

      <span class="articleTime"> {{article.timeStamp |  formatdate}} </span>
      <span class="articleTime"> {{getLocation()}} </span>

      <div class="articleText">
        {{article.status}}
      </div>

      <div class="articlebottom">


        <span class="eachLikeIcon">
        <span class="fontOfLike likeCount blackColor">{{getEmotionCount('like')}}</span>
        <span class="icon ion-thumbsup fontOfLikeIcon" ng-if="!checkStatus('like')"
              ng-click="updateEmotion('like')"></span>
        <Span class="fontOfLike " ng-if="!checkStatus('like')"> Like</Span>
          <span class="icon ion-thumbsup fontOfLikeIcon makeLikeIconBold" ng-if="checkStatus('like')"
                ng-click="deleteEmotion('like')"></span>
        <Span class="fontOfLike makeLikeIconBold" ng-if="checkStatus('like')"> Like</Span>
        </span>

        <span class="eachLikeIcon">
        <span class="fontOfLike likeCount blackColor">{{getEmotionCount('dislike')}}</span>
        <span class="icon ion-thumbsdown fontOfLikeIcon" ng-if="!checkStatus('dislike')"
              ng-click="updateEmotion('dislike')"></span>
        <Span class="fontOfLike " ng-if="!checkStatus('dislike')"> Dislike</Span>
          <span class="icon ion-thumbsdown fontOfLikeIcon makeLikeIconBold" ng-if="checkStatus('dislike')"
                ng-click="deleteEmotion('dislike')"></span>
        <Span class="fontOfLike makeLikeIconBold" ng-if="checkStatus('dislike')"> Dislike</Span>
        </span>

        <span class="articlebottomitem" ng-click="startReply(article._id)"> Reply </span>

        <span class="eachLikeIcon icon ion-android-share blackColor"> Share</span>

      </div>

    </div>

    <div ng-show="!loading" ng-repeat="child in article.replies">
      <commenttree statusid={{child._id}}></commenttree>
    </div>
    <div ng-show="!loading" class="bottomText">

      <input ng-model="inputValue.message" placeholder=" Enter reply" class="messageText newsMessageText" id="replyText"
             ng-model-options='{ debounce: 0 }'>
      <a class="search-link sendButton" href="" ng-click="saveComment()"><span class="send_icon">Send</span></a>
      </input>

    </div>
  </ion-content>
</ion-view>
