<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view cache-view="false" view-title="">

  <!--<ion-nav-bar>
  </ion-nav-bar>

  <ion-nav-buttons side="left">
    <span ng-click="goHome()" style="font-size: 18px;margin-top: 13%;">
      <i class="ion-chevron-left"></i> Chats
    </span>
  </ion-nav-buttons>-->


  <ion-content class="padding">

    <div class="article">

      <span class="articleTime"> {{article.timeStamp |  formatdate}} </span>
      <span class="articleTime"> {{getLocation()}} </span>

      <div class="articleText">
        {{article.status}}
      </div>

      <div class="articlebottom">


        <span class="eachLikeIcon" ng-click="updateOrDeleteEmotion('like')">
        <span class="fontOfLike likeCount blackColor">{{getEmotionCount('like')}}</span>
       <span class="icon ion-arrow-up-c fontOfLikeIcon"
             ng-class="{true:'makeLikeIconBold',false:''}[checkStatus('like')]"></span>
        <Span class="fontOfLike"
              ng-class="{true:'makeLikeIconBold',false:''}[checkStatus('like')]"> Like</Span>
        </span>

        <span class="eachLikeIcon" ng-click="updateOrDeleteEmotion('dislike')">
        <span class="fontOfLike likeCount blackColor">{{getEmotionCount('dislike')}}</span>
         <span class="icon ion-arrow-down-c fontOfLikeIcon"
               ng-class="{true:'makeLikeIconBold',false:''}[checkStatus('dislike')]"></span>
           <Span class="fontOfLike"
                 ng-class="{true:'makeLikeIconBold',false:''}[checkStatus('dislike')]"> Dislike</Span>
        </span>

        <span class="articlebottomitem" ng-click="startReply(article._id)"> Reply </span>

        <span class="eachLikeIcon icon ion-android-share blackColor"> Share</span>

      </div>

    </div>

    <div ng-repeat="child in article.replies" class="CommentTree">
      <commenttree statusid={{child._id}}></commenttree>
    </div>
    <div class="bottomText">

      <input ng-model="inputValue.message" placeholder=" Enter reply" class="messageText newsMessageText" id="replyText"
             ng-model-options='{ debounce: 0 }'>
      <a class="search-link sendButton" href="" ng-click="saveComment()"><span class="send_icon">Send</span></a>
      </input>

    </div>
  </ion-content>
</ion-view>
