<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view cache-view="false" view-title="">

  <ion-content class="padding">

    <div class="article">

      <div class="articleUserName">
        {{article.userName}}
      </div>

      <div class="articleText">
        {{article.status}}
      </div>

      <div class="articlebottom">
        <span class="articleTime"> {{article.timeStamp | date:'shortTime'}} </span>
        <span class="articlebottomitem"> {{article.replies.length}} comments</span>
        <span class="articlebottomitem" ng-click="blockUser(article.userId)"> Block</span>

        <span class="articlebottomitem" ng-if="checkStatus(article, 250)"
              ng-click="deleteEmotion(article, 250)">dislike</span>
        <span class="articlebottomitem" ng-if="!checkStatus(article, 250)"
              ng-click="updateEmotion(article, 250)">like</span>
      </div>
    </div>

    <div ng-repeat="child in article.replies">
      <commenttree statusid={{child._id}}></commenttree>
    </div>

  </ion-content>
</ion-view>
