<ion-view view-title="OpenNote">
  <ion-nav-bar class="header-wrap headerCss">
    <ion-nav-buttons side="right">
      <i class="ion-ios-search-strong rightIcon" ></i>
    </ion-nav-buttons>
    <ion-nav-buttons side="left">
      <i class="ion-ios-compose-outline leftIcon" ng-click="openStatus()"></i>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content class="padding">

    <div class="noNewsFeed" ng-if="newsFeed.length == 0">
      No status to show,You can be the first person to post
      <div>
      <button class="statusButton" ng-click="openStatus()"> Post Status</button>
        </div>
    </div>

    <div class="article" ng-repeat="article in newsFeed">

      <i class="icon ion-android-more-vertical dropDownStatus" ng-click="openOptionsMenu(article.userId, $event)"></i>

      <!--<div class="articleUserName">
        {{article.userName}}
      </div>-->

      <a class="articleTextAnchor" href="#/tab/news/{{article._id}}">
        <div class="articleText">
          {{article.status}}
        </div>
      </a>
      <div class="articlebottom">
        <span class="articleTime"> {{article.timeStamp | date:'shortTime'}} </span>


        <span class="articlebottomitem">{{getEmotionCount(article, 250)}}</span>
        <i class="icon ion-thumbsup articlebottomitem eachLikeIcon" ng-if="!checkStatus(article, 250)" ng-click="updateEmotion(article, 250)"></i>
        <i class="icon ion-thumbsup articlebottomitem eachLikeIcon makeLikeIconBold" ng-if="checkStatus(article, 250)" ng-click="deleteEmotion(article, 250)"></i>

        <span class="articlebottomitem">{{getEmotionCount(article, 251)}}</span>
        <i class="icon ion-thumbsdown articlebottomitem eachLikeIcon" ng-if="!checkStatus(article, 251)" ng-click="updateEmotion(article, 251)"></i>
        <i class="icon ion-thumbsdown articlebottomitem eachLikeIcon makeLikeIconBold" ng-if="checkStatus(article, 251)" ng-click="deleteEmotion(article, 251)"></i>


        <!--<span class="articlebottomitem" ng-if="checkStatus(article, 250)"
              ng-click="deleteEmotion(article, 250)">dislike</span>
        <i class="em em-&#45;&#45;1 articlebottomitem" ng-if="!checkStatus(article, 250)"
           ng-click="updateEmotion(article, 250)"></i>-->

        <span class="articlebottomitem"> {{getRepliesCount(article.replies)}} replies</span>
      </div>
    </div>

  </ion-content>
</ion-view>
