<ion-view view-title="OpenNote">
  <ion-nav-bar class="header-wrap headerCss">
    <ion-nav-buttons side="right">
      <i class="ion-ios-search-strong rightIcon" ></i>
    </ion-nav-buttons>
    <ion-nav-buttons side="left">
      <i class="ion-ios-compose-outline leftIcon" ng-click="openStatus()"></i>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content class="padding">

    <div class="noNewsFeed" ng-if="newsFeed.length == 0">
      No status to show,You can be the first person to post
      <div>
      <button class="statusButton" ng-click="openStatus()"> Post Status</button>
        </div>
    </div>

    <div class="article" ng-repeat="article in newsFeed">

      <i class="icon ion-android-more-vertical dropDownStatus" ng-click="openOptionsMenu(article.userId, $event)"></i>

      <!--<div class="articleUserName">
        {{article.userName}}
      </div>-->

      <span class="articleTime"> {{article.timeStamp |  formatdate}} </span>
      <a class="articleTextAnchor" href="#/tab/news/{{article._id}}">
        <div class="articleText">
          {{article.status}}
        </div>
      </a>
      <div class="articlebottom">



        <span class="eachLikeIcon">
        <span class="fontOfLike likeCount blackColor">{{getEmotionCount(article, 250)}}</span>
        <span class="icon ion-thumbsup fontOfLikeIcon" ng-if="!checkStatus(article, 250)" ng-click="updateEmotion(article, 250)"></span>
        <Span class="fontOfLike " ng-if="!checkStatus(article, 250)"> Like</Span>
          <span class="icon ion-thumbsup fontOfLikeIcon makeLikeIconBold" ng-if="checkStatus(article, 250)" ng-click="deleteEmotion(article, 250)"></span>
        <Span class="fontOfLike makeLikeIconBold" ng-if="checkStatus(article, 250)"> Like</Span>
        </span>

         <span class="eachLikeIcon">
        <span class="fontOfLike likeCount blackColor">{{getEmotionCount(article, 251)}}</span>
        <span class="icon ion-thumbsdown fontOfLikeIcon" ng-if="!checkStatus(article, 251)" ng-click="updateEmotion(article, 251)"></span>
        <Span class="fontOfLike " ng-if="!checkStatus(article, 251)"> Like</Span>
          <span class="icon ion-thumbsdown fontOfLikeIcon makeLikeIconBold" ng-if="checkStatus(article, 251)" ng-click="deleteEmotion(article, 251)"></span>
        <Span class="fontOfLike makeLikeIconBold" ng-if="checkStatus(article, 251)"> Like</Span>
        </span>

        <span class="eachLikeIcon blackColor"> {{getRepliesCount(article.replies)}} replies</span>

        <span class="eachLikeIcon icon ion-android-share blackColor"> Share</span>

      </div>
    </div>

  </ion-content>
</ion-view>
