<ion-view view-title="Account">
  <ion-nav-bar class="header-wrap headerCss"></ion-nav-bar>
  <ion-content>

    <ion-list>
      <div class="item-avatar item-icon-right viewProfileDiv" type="item-text-wrap">
        <img ng-src="{{getPhotoURL()}}" ng-click="showProfile()">
        <div class="viewProfileDiv2" ng-click="showProfile()">View Profile</div>
      </div>
    </ion-list>

    <button class="button buttonChat redColor logout" ng-click="logout()">Logout</button>
  </ion-content>
</ion-view>
