<ion-view view-title="Dashboard">
  <ion-nav-bar class="header-wrap headerCss"></ion-nav-bar>
  <ion-content class="padding">
    <div id="toggles">
      <input type="checkbox" name="checkbox1" id="checkbox3" class="ios-toggle" ng-model="userMap.showOnMap"
             ng-change="changeOnMap(userMap.showOnMap)"/>
      <label for="checkbox3" class="checkbox-label" data-off="Show me on map" data-on="Show me on map"></label>
    </div>

    <div id="map" data-tap-disabled="true"></div>
  </ion-content>
</ion-view>
