<ion-view view-title="Chats">
  <ion-nav-bar>
  </ion-nav-bar>

  <ion-content>
    <ion-list>
      <div ng-show="chats.length == 0" class="nocontacts-error">
        No Contacts Find
      </div>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/chats/{{chat.contactid}}?chatName={{chat.displayName}}">
        <img ng-src="https://graph.facebook.com/{{chat.contactid}}/picture?type=small">
        <h2>{{chat.displayName}}</h2>
        <p>Last Login {{chat.lastLogin | date:'MMM dd @ h:mma'}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat.contactid)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
