<ion-view view-title="Myna">
  <ion-nav-bar class="header-wrap headerCss">
    <ion-nav-buttons side="right">
      <!--<i class="ion-ios-search-strong rightIcon" ></i>-->
    </ion-nav-buttons>
    <ion-nav-buttons side="left">
      <i class="ion-ios-compose-outline leftIcon" ng-click="openStatus()"></i>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content class="padding" overflow-scroll="true">

    <div style="height: 35px;text-align: center;" ng-if="loading">
      <spinner/>
    </div>

    <div class="mytabs" ng-if="newsFeed.length != 0">
      <a class="mytab" style="border-right: 0" ng-class="{1:'tabBackGroundColored',2:'tabBackGroundWhite'}[sort]"
         ng-click="sortHot()">Hot</a>
      <a class="mytab" ng-class="{2:'tabBackGroundColored',1:'tabBackGroundWhite'}[sort]"
         ng-click="sortRecent()">Recent</a>
    </div>

    <div class="noNewsFeed" ng-if="newsFeed.length == 0">
      No status to show,You can be the first person to post
      <div>
        <button class="statusButton" ng-click="openStatus()"> Post Status</button>
      </div>
    </div>

    <div class="article" ng-repeat="article in newsFeed | orderBy:dynamicOrderFunction:true track by article._id">

      <i class="icon ion-ios-arrow-down dropDownStatus" ng-click="openOptionsMenu(article)"></i>

      <span class="articleTime"> {{article.timeStamp |  formatdate}} </span>
      <span class="articleTime"> {{getLocation(article)}} </span>
      <a class="articleTextAnchor" href="#/tab/news/{{article._id}}">
        <div class="articleText">
          {{article.status}}
        </div>
        <div class="swiper-container" ng-if="article.media.length > 0">
          <div class="swiper-wrapper">
            <div class="swiper-slide" ng-repeat="oImage in article.media"><img src="{{oImage}}"/></div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </a>
      <div class="articlebottom">

        <span class="eachLikeIcon" ng-click="updateOrDeleteEmotion(article, 'like')">
        <span class="fontOfLike likeCount blackColor">{{getEmotionCount(article, 'like')}}</span>
          <span class="icon ion-arrow-up-c fontOfLikeIcon"
                ng-class="{true:'makeLikeIconBold',false:''}[checkStatus(article, 'like')]"></span>
        <Span class="fontOfLike"
              ng-class="{true:'makeLikeIconBold',false:''}[checkStatus(article, 'like')]"> Like</Span>
        </span>

         <span class="eachLikeIcon" ng-click="updateOrDeleteEmotion(article, 'dislike')">
        <span class="fontOfLike likeCount blackColor">{{getEmotionCount(article, 'dislike')}}</span>
        <span class="icon ion-arrow-down-c fontOfLikeIcon"
              ng-class="{true:'makeLikeIconBold',false:''}[checkStatus(article, 'dislike')]"></span>
           <Span class="fontOfLike" ng-class="{true:'makeLikeIconBold',false:''}[checkStatus(article, 'dislike')]"> Dislike</Span>
        </span>

        <a class="articleTextAnchor" href="#/tab/news/{{article._id}}">
          <span class="eachLikeIcon blackColor"> {{article.replyCount}} replies</span>
        </a>

        <span class="eachLikeIcon icon ion-android-share blackColor" ng-click="shareStatus(article)"> Share</span>

      </div>
    </div>

  </ion-content>
</ion-view>
