.headerCss{
  background-color: lightblue;
}

.leftIcon{
  font-size: 32px;
  margin-left: 15px;
}

.rightIcon{
  font-size: 26px;
  margin-right: 15px;
  margin-top: 4px;
}

.displayElement{
  display: inherit;
}

.leftAlign{
  font-size: 16px;
  margin-left: 10px;
  line-height: 35px;
  vertical-align: middle;
}

.rightAlign{
  float: right;
  margin-right: 11px;
  margin-top: 7px;
  font-size: 17px;
  font-weight: bold;
  color: darkcyan;
}

.imageIcon{
  border-radius: 0 !important;
}

.article{
  border: 1px solid lightblue;
  margin-bottom: 10px;
  padding-bottom: 4px;
  padding-top: 4px;
}

.articleTextAnchor{ color: inherit; }

.articleUserName{
  margin-top: 8px;
  margin-left: 5px;
  font-weight: 500;
  width: 57%;
  float: left;
}

.articleTime{
  font-size: smaller;
  margin-left: 6px;
  font-weight: 300;
}

.articleText{
  margin-left: 2%;
  margin-top: 8px;
  margin-bottom: 15px;
  font-size: larger;
  float: left;
  width: 93%;
}

.articlebottom{
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 10px;
  display: table;
  width: 100%;
  /*border-top: 1px solid lightblue;*/
}

.articlebottomitem{
  display:table-cell;
  text-align:center;
}

.eachLikeIcon{
  color: darkgray;
  margin-left: 10px;
  margin-right: 10px;
}

.makeLikeIconBold{
  color: darkcyan;
}

.statusDiv{
  display: table;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 10px;
}

.statusText{
  border: 1px solid #e6dede !important;
  width: 90%;
  display: table-cell !important;
  font-size: 20px;
  margin-left: 5%;
}

.sendButton{
  border: 1px solid black;
  margin-left: 3px;
  padding: 4px;
  text-align: center;
  font-weight: bold;
  border-radius: 7px;
  color: darkcyan;
}

.newsMessageText{
  width: 82%;
}

.commentDiv{
  border: 1px solid #42c3c8;
}

.commentbottom{
  display: table;
  width: 100%;
}

.bottomText{
  bottom: -10px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
  margin-bottom: 12px;
}

.dropDownStatus{
  font-size: 21px;
  color: black;
  float: right;
  margin-right: 10px;
  margin-top: 2px;
  font-weight: bolder;
}


.noNewsFeed{
  color: #4a4646;
  text-align: center;
  margin-top: 40%;
}

.statusButton{
  border: 1px solid;
  margin-top: 15px;
  padding: 8px;
  background: lightblue;
  font-size: 15px;
}

.likeCount{
  margin-right: 3px;
}

.fontOfLike{
  font-size: 13px;
}

.fontOfLikeIcon{
  font-size: 21px;
}

.blackColor{
  color: black;
}

/*options popup css*/
.optionsModalPopup{
  width: 50%;
  /*margin-left: 10%;
  margin-top: 30%;*/
  min-height: 20%;
  background-color: white;
  border: 1px solid #c4c8cf;
}

.optionsModalHeader{
  background-color: lightblue !important;
}

.optionsModalHeaderTitle{
  color: black !important;
}

.eachOption{
  font-size: 17px;
  margin-left: 15px;
  border-top: 1px solid #ddd;
  margin-right: 15px;
}

.eachOptionIcon{
  line-height: 40px;
}

.eachOptionIcon i{
  font-size: 25px;
  margin-right: 20px;
}

/*options popup end*/


.replyComment{
  min-height: 40px;
  margin-left: 7px;
  padding-top: 5px;
}
