.headerCss{
  background-color: white;
  border-bottom: 1px solid red;
}

.myHeader {
  font-size: 0;
  font-weight: bolder;
}

.myHeaderM {
  color: rgb(255, 51, 1);
  font-size: 20px;
}

.myHeaderN {
  color: rgb(255, 153, 0);
  font-size: 20px;
}

.myHeaderY {
  color: rgb(255, 102, 0);
  font-size: 20px;
}

.myHeaderA {
  color: rgb(0, 0, 255);
  font-size: 20px;
}

.leftIcon{
  font-size: 32px;
  margin-left: 15px;
  margin-top: 11px;
  color: darkblue;
}

.rightIcon{
  font-size: 26px;
  margin-right: 15px;
  margin-top: 4px;
}

.displayElement{
  background-color: white;
  height: auto;
}

.displayElement .button-right {
  display: block !important;
  width: 96% !important;
  text-align: right !important;
  font-size: 20px;
  font-weight: bolder;
}

.newStatusBottom {
  position: fixed;
  bottom: 0px;
  background-color: white;
  width: 100%;
  border-top: 1px solid #e8e6e6;
  padding-top: 2%;
  padding-bottom: 2%;
}

.newStatusBottomRight {
  width: 30%;
  float: right;
  margin-right: 5%;
}

.newStatusBottomLeft {
  width: 50%;
  float: left;
  margin-left: 10%;
}

.newStatusBottomLeft i {
  font-size: 25px;
  color: #0088cc;
  width: 30%;
  float: left;
}

.leftAlign{
  font-size: 16px;
  margin-left: 10px;
  line-height: 35px;
  vertical-align: middle;
}

.rightAlign{
  float: right;
  margin-right: 11px;
  font-size: 17px !important;
  font-weight: bold !important;
  color: white;
  background-color: #40a1d2;
  border: 0px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 6px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.imageIcon{
  border-radius: 0 !important;
}

.article{
  margin-bottom: 10px;
  padding-bottom: 4px;
  padding-top: 4px;
  -moz-box-shadow: 0px 3px 7px #6f6e6e;
  -webkit-box-shadow: 0px 3px 7px #6f6e6e;
  box-shadow: 0px 3px 7px #6f6e6e;
  border-radius: 12px;
}

.articleTextAnchor{
  color: inherit;
  text-decoration: none;
}

.articleUserName{
  margin-top: 8px;
  margin-left: 5px;
  font-weight: 500;
  width: 57%;
  float: left;
}

.articleTime{
  font-size: smaller;
  margin-left: 6px;
  font-weight: 300;
}

.articleText{
  margin-left: 2%;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: medium;
  float: left;
  width: 93%;
  text-align: justify;
}

.articlebottom{
  padding-top: 3px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  display: table;
  width: 100%;
  margin-top: 8px;
  /*border-top: 1px solid lightblue;*/
}

.articlebottomitem{
  display:table-cell;
  text-align:center;
  width: 25%;
}

.eachLikeIcon{
  color: darkgray;
  display: table-cell;
  text-align: center;
}

.makeLikeIconBold{
  color: #40a1d2;
}

.statusDiv{
  width: 100%;
  margin-bottom: 20px;
  margin-top: 10px;
  height: 80%;
  overflow-y: hidden;
  display: block;
}

.statusText{
  border: 0 !important;
  display: table-cell !important;
  font-size: 20px;
  margin-left: 3%;
  color: rgba(0, 0, 0, 0.52);
  min-height: 50%;
  width: 95%;
  margin-bottom: 15px;
}

.statusTextHeight90 {
  height: 90%;
}

.statusTextHeight50 {
  height: 50%;
}

.imagesSlide {
  width: 100%;
  height: 125px;
  overflow-y: -webkit-paged-y;

}

.scroll-view.scroll-x {
  overflow-x: scroll;
  overflow-y: -webkit-paged-y;
  height: 7px;
  display: initial;
  padding-left: 0;
}

.imagesSlide .slide {
  height: 90px;
  display: inline-grid;
  margin-right: 10px;
}

.imageDelete {
  position: absolute;
  background: white;
  border-radius: 14px;
  width: 14px;
  height: 14px;
  text-align: center;
  font-size: 13px;
  margin-top: -7px;
}

.sendButton{
  border: 1px solid black;
  margin-left: 3px;
  padding: 4px;
  text-align: center;
  font-weight: bold;
  border-radius: 7px;
  background-color: #40a1d2;
  color: white;
}

.blockUserButton {
  color: red;
  padding: 5px;
  border-radius: 5px;
  margin-left: 15px;
  border: 1px solid;
}

.newsMessageText{
  width: 75%;
  display: table-cell;
}

.commentDiv{
  border: 1px solid #40a1d2;
}

.commentbottom{
  display: table;
  width: 100%;
}

.bottomText{
  bottom: -10px;
  width: 100%;
  padding-bottom: 10px;
  background-color: white;
  margin-bottom: 12px;
}

.dropDownStatus{
  font-size: 21px;
  color: black;
  float: right;
  margin-right: 13px;
  margin-top: 2px;
  font-weight: bolder;
  padding-left: 13px;
}


.noNewsFeed{
  color: #4a4646;
  text-align: center;
  margin-top: 40%;
}

.statusButton{
  border: 0px solid;
  margin-top: 15px;
  padding: 8px;
  background: #40a1d2;
  color: white;
  font-size: 15px;
}

.likeCount{
  margin-right: 3px;
}

.fontOfLike{
  font-size: 13px;
}

.fontOfLikeIcon{
  font-size: 21px;
}

.blackColor{
  color: black;
}

.replyComment{
  margin-left: 7px;
  padding-top: 5px;
}


/*tabs css*/
.mytabs{
  display: inline-block;
  width: 100%;
  padding-left: 26%;
}

.mytab{
  display: block;
  float: left;
  padding: 6px 22px;
  background: white;
  border: 2px solid darkturquoise;
  color: black;
  text-decoration: none;
  font-size: 15px;
}

.tabBackGroundWhite{
  background-color: white;
}

.tabBackGroundColored{
  background-color: darkturquoise;
}

.reportStatement {
  font-size: 18px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: darkgray;
  padding-left: 20px;
}

.reportList {
  border-top: 1px solid gainsboro;
  font-size: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 25px;
  font-weight: 400;
}

.reportBlockUser {
  border: 2px solid indianred;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  padding-left: 0px;
  border-radius: 10px;
}

.bar .title {
  color: white;
  height: 55px;
  line-height: 65px;
}

.bar{
  height: 55px;
}

.has-tabs, .bar-footer.has-tabs {
  bottom: 63px;
}

.fa-spin {
  -webkit-animation: fa-spin 1s infinite linear;
  animation: fa-spin 1s infinite linear;
}

.has-header {
  top: 55px;
}

.newsSlide .swiper-container {
  height: 100%;
}

.newsSlide .swiper-slide {
  height: 100%;
}

.newsSlide .swiper-slide {
  background-color: white;
}

.newsSlide .swiper-wrapper {
  height: 90%;
}

.newsSlide .swiper-container-horizontal > .swiper-pagination {
  bottom: 0;
  background-color: white;
}

.image-modal {
  width: 100% !important;
  height: 100%;
  top: 0 !important;
  left: 0 !important;
}

.transparent {
  background: rgba(0, 0, 0, 0.7);
}

.slider {
  width: 100%;
  height: 80%;
}

.image-modal .image {
  width: 100%;
  height: auto;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center, center;
}
