.headerCss{
  background-color: #40a1d2;
}

.leftIcon{
  font-size: 32px;
  margin-left: 15px;
}

.rightIcon{
  font-size: 26px;
  margin-right: 15px;
  margin-top: 4px;
}

.displayElement{
  display: table;
}

.displayElement .title {
  left: 25% !important;
  right: 25% !important;
}

.leftAlign{
  font-size: 16px;
  margin-left: 10px;
  line-height: 35px;
  vertical-align: middle;
}

.rightAlign{
  float: right;
  margin-right: 11px;
  font-size: 17px !important;
  font-weight: bold !important;
  color: white;
  background-color: #40a1d2;
  border: 0px;
}

.imageIcon{
  border-radius: 0 !important;
}

.article{
  border: 1px solid #40a1d2;
  margin-bottom: 10px;
  padding-bottom: 4px;
  padding-top: 4px;
}

.articleTextAnchor{
  color: inherit;
  text-decoration: none;
}

.articleUserName{
  margin-top: 8px;
  margin-left: 5px;
  font-weight: 500;
  width: 57%;
  float: left;
}

.articleTime{
  font-size: smaller;
  margin-left: 6px;
  font-weight: 300;
}

.articleText{
  margin-left: 2%;
  margin-top: 8px;
  margin-bottom: 15px;
  font-size: larger;
  float: left;
  width: 93%;
  text-align: justify;
}

.articlebottom{
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 10px;
  display: table;
  width: 100%;
  /*border-top: 1px solid lightblue;*/
}

.articlebottomitem{
  display:table-cell;
  text-align:center;
}

.eachLikeIcon{
  color: darkgray;
  margin-left: 10px;
  margin-right: 10px;
}

.makeLikeIconBold{
  color: #40a1d2;
}

.statusDiv{
  display: table;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 10px;
}

.statusText{
  border: 1px solid #e6dede !important;
  width: 90%;
  display: table-cell !important;
  font-size: 20px;
  margin-left: 5%;
}

.sendButton{
  border: 1px solid black;
  margin-left: 3px;
  padding: 4px;
  text-align: center;
  font-weight: bold;
  border-radius: 7px;
  background-color: #40a1d2;
  color: white;
}

.blockUserButton {
  color: white;
  padding: 5px;
  background-color: #40a1d2;
  border-radius: 5px;
  margin-left: 15px;
}

.newsMessageText{
  width: 82%;
}

.commentDiv{
  border: 1px solid #40a1d2;
}

.commentbottom{
  display: table;
  width: 100%;
}

.bottomText{
  bottom: -10px;
  width: 100%;
  padding-bottom: 10px;
  background-color: white;
  margin-bottom: 12px;
}

.dropDownStatus{
  font-size: 21px;
  color: black;
  float: right;
  margin-right: 13px;
  margin-top: 2px;
  font-weight: bolder;
  padding-left: 13px;
}


.noNewsFeed{
  color: #4a4646;
  text-align: center;
  margin-top: 40%;
}

.statusButton{
  border: 0px solid;
  margin-top: 15px;
  padding: 8px;
  background: #40a1d2;
  color: white;
  font-size: 15px;
}

.likeCount{
  margin-right: 3px;
}

.fontOfLike{
  font-size: 13px;
}

.fontOfLikeIcon{
  font-size: 21px;
}

.blackColor{
  color: black;
}

.replyComment{
  min-height: 40px;
  margin-left: 7px;
  padding-top: 5px;
}


/*tabs css*/
.mytabs{
  display: inline-block;
  width: 100%;
  padding-left: 26%;
}

.mytab{
  display: block;
  float: left;
  padding: 6px 22px;
  background: white;
  border: 2px solid #40a1d2;
  color: black;
  text-decoration: none;
  font-size: 15px;
}

.tabBackGroundWhite{
  background-color: white;
}

.tabBackGroundColored{
  background-color: #40a1d2;
}

.reportStatement {
  font-size: 18px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: darkgray;
  padding-left: 20px;
}

.reportList {
  border-top: 1px solid gainsboro;
  font-size: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 25px;
  font-weight: 400;
}

.reportBlockUser {
  border: 2px solid indianred;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  padding-left: 0px;
  border-radius: 10px;
}

.bar .title {
  color: white;
  font-family: sans-serif;
  font-size: 22px;
}

.has-tabs, .bar-footer.has-tabs {
  bottom: 63px;
}
