/* Empty. Add your own CSS if you like */
.welcome-view {
  background-color: #FF7258; }
.welcome-view .top-content {
  height: 66%; }
.welcome-view .top-content .app-copy {
  text-align: center;
  padding-top: 13vh; }
.welcome-view .top-content .app-logo {
  font-size: 60px;
  font-family: sans-serif;
  font-weight: 600;
  color: #FFFFFF;
  letter-spacing: 8px;
  text-transform: uppercase; }
.welcome-view .top-content .app-tagline {
  font-size: 16px;
  margin-top: 0px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.95); }
.welcome-view .bottom-content {
  height: 34%; }
.welcome-view .bottom-content .facebook-sign-in {
  border-radius: 4px;
  font-weight: 500;
  color: #FFF;
  background-color: #294886;
  border-color: #27447e; }

.scroll {
  height: 100%;
}

#map {
  height: 100%;
  width: 100%;
}
.spinner svg{
  background: transparent;
}

.loading-container .loading {
  background: transparent;
}

#markerLayer img {
  border-radius: 50%;
}

.fullscreen-image1 {
  max-width: 100%;
  max-height: 80%;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: auto;
  right: 0;
  top: 0;
}


.nocontacts-error{
  text-align: center;
  font-size: 16px;
  color: cadetblue;
  font-weight: 900;
}
