/* Empty. Add your own CSS if you like */
.welcome-view {
  background-color: #FF7258; }
.welcome-view .top-content {
  height: 66%; }
.welcome-view .top-content .app-copy {
  text-align: center;
  padding-top: 13vh; }
.welcome-view .top-content .app-logo {
  font-size: 60px;
  font-family: sans-serif;
  font-weight: 600;
  color: #FFFFFF;
  letter-spacing: 8px;
  text-transform: uppercase; }
.welcome-view .top-content .app-tagline {
  font-size: 16px;
  margin-top: 0px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.95); }
.welcome-view .bottom-content {
  height: 34%; }
.welcome-view .bottom-content .facebook-sign-in {
  border-radius: 4px;
  font-weight: 500;
  color: #FFF;
  background-color: #294886;
  border-color: #27447e; }

.scroll {
  height: 100%;
}

#map {
  height: 90%;
  width: 100%;
}
.spinner svg{
  background: transparent;
}

.loading-container .loading {
  background: transparent;
}

#markerLayer img {
  border-radius: 50%;
}

.fullscreen-image1 {
  max-width: 100%;
  max-height: 80%;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: auto;
  right: 0;
  top: 0;
}


.nocontacts-error{
  text-align: center;
  font-size: 16px;
  color: #40a1d2;
  font-weight: 900;
  margin-top: 20px;
}

.loading-container .loading {
  background-color: rgba(0, 0, 0, 0.7);
}


/*Block ans Spam button css*/
.blockButton{
  border: 1px;
  padding: 5px;
  background-color: antiquewhite;
  color: crimson;
  width: 48%;
  font-size: 14px;
  border-radius: 6px;
}

.swiper-container {
  width: 100%;
  height: auto;
  padding-top: 10px;
  padding-bottom: 50px;
  background-color: rgba(0, 0, 0, 0.07);
  margin-bottom: 10px;
}
.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
  justify-content: center;
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, 0.07);
}

.swiper-pagination-bullet-active {
  background-color: #e6550d;
}

.closeModal{
  padding-left: 5%;
  padding-top: 10%;
  font-size: 22px;
  color: #e6550d;
  background-color: rgba(0, 0, 0, 0.07)
}

.textBold {
  font-weight: bold;
}

.textCaptialize {
  text-transform: capitalize;
}

.userDetails{
  padding-left: 20px;
}

.userName{
  font-weight: bold;
  font-size: 18px;
}

.aboutLabel {
  padding-top: 8px;
  font-weight: bold;
  font-size: 15px;
  color: #e6550d;
}

.userLike {
  border: 2px solid #e6550d;
  padding: 5px;
  color: black;
  font-weight: bold;
  margin-bottom: 2px;
  display: inline-block;
  margin-left: 2px;
}

.bar-footer {
  bottom: 15px;
  background-image: none;
}

.buttonChat{
  background-color: white;
  font-size: 15px !important;
  font-weight: 500 !important;
  border-radius: 10px;
}

.redColor{
  border: 2px solid red;
  color: red;
}

.greenColor{
  border: 2px solid #055012;
  color: #055012;
}


.viewProfileDiv{
  width: 100%;
  margin-left: 5%;
}

.viewProfileDiv2{
  font-size: 17px;
  font-weight: 500;
  color: chocolate;
}

.logout{
  width: 80%;
  margin-left: 10%;
}


/*hide me button start*/
*,toggles *:before, *:after{
  box-sizing:border-box;
  margin:0;
  padding:0;
  /*transition*/
  -webkit-transition:.25s ease-in-out;
  -moz-transition:.25s ease-in-out;
  -o-transition:.25s ease-in-out;
  transition:.25s ease-in-out;
  outline:none;
  font-family:Helvetica Neue,helvetica,arial,verdana,sans-serif;
}
#toggles{
  width:60px;
  margin-left: 60%;
}
.ios-toggle,.ios-toggle:active{
  position:absolute;
  top:-5000px;
  height:0;
  width:0;
  opacity:0;
  border:none;
  outline:none;
}
.checkbox-label{
  display:block;
  position:relative;
  padding:10px;
  margin-bottom:20px;
  font-size:12px;
  line-height:16px;
  width:100%;
  height:36px;
  /*border-radius*/
  -webkit-border-radius:18px;
  -moz-border-radius:18px;
  border-radius:18px;
  background:#f8f8f8;
  cursor:pointer;
}
.checkbox-label:before{
  content:'';
  display:block;
  position:absolute;
  z-index:1;
  line-height:34px;
  text-indent:40px;
  height:36px;
  width:36px;
  /*border-radius*/
  -webkit-border-radius:100%;
  -moz-border-radius:100%;
  border-radius:100%;
  top:0px;
  left:0px;
  right:auto;
  background:white;
  /*box-shadow*/
  -webkit-box-shadow:0 3px 3px rgba(0,0,0,.2),0 0 0 2px #dddddd;
  -moz-box-shadow:0 3px 3px rgba(0,0,0,.2),0 0 0 2px #dddddd;
  box-shadow:0 3px 3px rgba(0,0,0,.2),0 0 0 2px #dddddd;
}
.checkbox-label:after{
  content:attr(data-off);
  display:block;
  position:absolute;
  z-index:0;
  top:0;
  left:-300px;
  padding:10px;
  height:100%;
  width:300px;
  text-align:right;
  color: #17454a;
  white-space: nowrap;
  font-size: 17px;
  font-weight: bold;
}
.ios-toggle:checked + .checkbox-label{
  /*box-shadow*/
  -webkit-box-shadow:inset 0 0 0 20px rgba(19,191,17,1),0 0 0 2px rgba(19,191,17,1);
  -moz-box-shadow:inset 0 0 0 20px rgba(19,191,17,1),0 0 0 2px rgba(19,191,17,1);
  box-shadow:inset 0 0 0 20px rgba(19,191,17,1),0 0 0 2px rgba(19,191,17,1);
}
.ios-toggle:checked + .checkbox-label:before{
  left:calc(100% - 36px);
  /*box-shadow*/
  -webkit-box-shadow:0 0 0 2px transparent,0 3px 3px rgba(0,0,0,.3);
  -moz-box-shadow:0 0 0 2px transparent,0 3px 3px rgba(0,0,0,.3);
  box-shadow:0 0 0 2px transparent,0 3px 3px rgba(0,0,0,.3);
}
/*.ios-toggle:checked + .checkbox-label:after{
  content:attr(data-on);
  left:60px;
  width:36px;
}*/
/* BLUE CHECKBOX */
#checkbox3 + .checkbox-label{
  /*box-shadow*/
  -webkit-box-shadow: inset 0 0 0 0px #40a1d2, 0 0 0 2px #dddddd;
  -moz-box-shadow: inset 0 0 0 0px #40a1d2, 0 0 0 2px #dddddd;
  box-shadow: inset 0 0 0 0px #40a1d2, 0 0 0 2px #dddddd;
}
#checkbox3:checked + .checkbox-label{
  /*box-shadow*/
  -webkit-box-shadow: inset 0 0 0 20px #40a1d2, 0 0 0 2px #40a1d2;
  -moz-box-shadow: inset 0 0 0 20px #40a1d2, 0 0 0 2px #40a1d2;
  box-shadow: inset 0 0 0 20px #40a1d2, 0 0 0 2px #40a1d2;
}
#checkbox3:checked + .checkbox-label:after{
  color: #17454a;
}

/*hide me button end*/

ion-tabs.tabs-color-active-positive .tab-item.tab-item-active {
  color: #40a1d2;
}
